.place {
  text-align: justify;
}
body {
  text-align: justify;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
}
h1 {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
}
video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 50px;
  min-height: 50px;
  z-index: -100;
}
/*city and form tab styling*/
.city{
  font-size: 60px;
}
.country{
  font-size: 28px;
}
.place{
  display: inline-flexbox;
  padding-left: 40px;
}
#days {
  text-align: center;
  list-style: none;
  padding-top: 5px;
}
#row-1 {
  list-style: none;
  padding-left: 0;
  display: inline-flex;
}
.place {
  text-align: left;
}
.temp{
  text-align: right;
}
.current-forecast {
  display: inline-flexbox;
}
li {
  display: inline-block;
  margin-right: 15px;
  font-size: 2opx;
}
.main {
  background: white;
  opacity: 0.8;
  max-width: 700px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}
.search-form .city {
  display: inline-flex;
}
/*form styling*/
#input-search {
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
  width: 250px;
  height: 37px;
  border-color: #783c70;
  color: #b474ac;
  background-color: #fff5fd;
  font-size: 16px;
  padding-left:5px ;
  
}
#search{
  padding-left: 120px;
  padding-top: 20px;
  position: absolute;
  align-self:flex-start;
}
#input-submit {
  height: 37px;
  width: 80px;
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
  background-color: #783c70;
  color: #fff;
  margin-left: 5px;
  font-size: 16px;
  border-radius: 5px;
}
#row-1
.day-time{
  display: inline-block;

}
.day-time{
  font-size: 20px;
}
/*current temp tab styling*/
.celsius{
  font-size: 26px;
}
.temp{
  font-size: 80px;
  font-weight: 500;
  text-align: right;
}
li .condtns
{
  padding-right: 60px;
  font-size: 28px;
}
.currtemp{
  text-align: right;
  padding-left: 160px;
  padding-right: 0;
}