.place {
  text-align: justify;

}
body {
  text-align: justify;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
}
.main {
  background: white;
  opacity: 0.8;
  max-width: 700px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}
video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 50px;
  min-height: 50px;
  z-index: -100;
}

/*city and form tab styling*/
.city{
  font-size: 60px;
}
.country{
  font-size: 28px;
}
#days {
  text-align: center;
  list-style: none;
  padding-top: 5px;
}

.place {
  text-align: left;
  padding-left: 40px;
  padding-top: 5px;
  position: relative;
}
.temp{
  text-align: right;
}
.current-forecast {
  display: inline-flexbox;
}
li {
  display: inline-block;
  margin-right: 15px;
  font-size: 2opx;
}
.search-form  {
  display: inline-flex;
  align-content: center;
}

/*form styling*/
#input-search {
  font-family: "Raleway", sans-serif;
  border: #FFAB40;
  color: #000;
  background-color: #fff3e4;
  font-size: 16px;
  font-size: 16px;
  padding: 20px;
  width: 500px;
  height: 45px;
  border-radius: 6px;
}
#search{
  padding-left: 60px;
  padding-top: 2px;
  position: absolute;
  display:flex;
  align-self: center;
  padding-bottom: 5px;
}
#input-submit {
  line-height: 1;
  border-radius: 5px;
  height: 45px;
  width: 80px;
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
  background-color: #FFAB40;
  color: #fff;
  border: #FFAB40;
  margin-left: 5px;
  font-size: 16px;
  border-radius: 5px;
}
#day-time{
  display: inline-block;
  text-align: left;
  font-size: 16px;
  color: gray;
  position:relative;
}

/*current temp tab styling*/
.celsius{
  font-size: 26px;
}
.temp{
  font-size: 80px;
  font-weight: 500;
  text-align: right;
}
#conditions{
  font-size: 18px;
}
#condtns
{
  padding-right: 50px;
  font-size: 25px;
}
.current-temp-icon{
  align-items: center;
}
.currtemp{
  text-align: right;
  padding-left: 160px;
  padding-right: 0;
}


/*weather tab styling*/

#day1
{
  width: 80px;
  color: #fff;
  border: 2px solid #FFAB40;
  background-color: #FFAB40;
  padding: 5px;
  margin: 2px;
}
#day1:hover{
  background-color: #FFDFB7;
  border: #FFDFB7;
  color: brown;
  cursor:context-menu;
}
#day2{
   width: 80px;
  color: #fff;
  border: 2px solid #FFAB40;
  background-color: #FFAB40;
  padding: 5px;
  margin: 2px;
}
#day2:hover{
  background-color: #FFDFB7;
  border: #FFDFB7;
  color: brown;
  cursor:context-menu;
}
#day3{
   width: 80px;
  color: #fff;
  border: 2px solid #FFAB40;
  background-color: #FFAB40;
  padding: 5px;
  margin: 2px;
}
#day3:hover{
  background-color: #FFDFB7;
  border: #FFDFB7;
  color: brown;
  cursor:context-menu;
}
#day4{
   width: 80px;
  color: #fff;
  border: 2px solid #FFAB40;
  background-color: #FFAB40;
  padding: 5px;
  margin: 2px;
}
#day4:hover{
  background-color: #FFDFB7;
  border: #FFDFB7;
  color: brown;
  cursor:context-menu;
}
#day5{
   width: 80px;
  color: #fff;
  border: 2px solid #FFAB40;
  background-color: #FFAB40;
  padding: 5px;
  margin: 2px;
}
#day5:hover{
  background-color: #FFDFB7;
  border: #FFDFB7;
  color: brown;
  cursor:context-menu;
}
#day6{
   width: 80px;
  color: #fff;
  border: 2px solid #FFAB40;
  background-color: #FFAB40;
  padding: 5px;
  margin: 2px;
}
#day6:hover{
  background-color: #FFDFB7;
  border: #FFDFB7;
  color: brown;
  cursor:context-menu;
}
.Forecast-tab{
  align-items: center;
  padding-right: 30px;
}

/*Music Tab*/
.Spotify{
  text-align: center;
}
.dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-text-regular-italic {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
}

.song{
  font-family:"DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  font-size: 24px;
}
